ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.main_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  justify-items: center;
  margin-top: 190px;
}

.search_bar{
  padding: 20px;
  grid-area: 2 / 2 / 3 / 3;
  display: inline;
}

.logo{
  grid-area: 1 / 2 / 2 /3;
}

#photo{
  padding: 10px;
  margin-top: 25px;
}

#search_button {
  margin-left: 3px;
  font-family: Helvetica serif;
}

#search_blank {
  width: 310px;
}
